body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    color: white;
    margin-top: 15px; 
    margin-left: 20px;
    padding: 20px;
    flex: 1;
  }
.shedule{
    text-decoration: underline;
    font-size: 12px;
    margin-top: 20px;
    cursor: pointer;
}
  /* .contentHeading { */
  /* } */
  .content{
    font-size: 11px;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 72%; /* Adjust as needed */
    background: url('/back.png') no-repeat center center;
    background-size: cover;
    z-index: -1; /* Ensure it is behind other content */
  }
  